*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
  height: 100vh;
}

.sub-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  padding: 1%;
}

.sub-container .grid-square {
  border: 1px solid black;
  width: 25%;
  height: 25%;
}

.hovered {
  background-color: black;
}
